/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 80px;
  line-height: 94px;
  font-family: "Roboto";
  border-bottom: 2px solid #000;
}

.profile-img {
  width: 324px;
  margin: 48px 0;
}

.info-section {
  margin-bottom: 72px;
}

.info-section .info-title {
  font-size: 32px;
  line-height: 49px;
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
}

.info-section .info-title span {
  font-size: 24px;
  line-height: 28px;
  padding-left: 16px;
  font-weight: 500;
}

.text-red {
  color: #a00404;
}

.items {
  margin: 0 auto;
}

.items .item {
  margin-bottom: 24px;
  font-size: 24px;
}

.items .item .description {
  line-height: 36px;
  font-family: "Noto Sans";
}

.skill,
.footer {
  padding: 24px 0 36px;
  background-color: #415165;
}

.inner-skill,
.inner-footer {
  width: 996px;
  margin: 0 auto;
  color: white;
  text-align: center;
}

.inner-skill .info-title,
.inner-footer .info-title {
  text-align: center;
  border-color: white;
}

.inner-skill .items {
  border-left: 1px solid #96a9c4;
  padding-left: 24px;
  display: inline-block;
}

.inner-skill .items .item {
  text-align: left;
}

.inner-skill .items .item:not(:last-child) {
  margin-bottom: 20px;
}

.inner-skill .items .item:last-child {
  margin-bottom: 0;
}

.experience .items {
  margin-left: 24px;
  border-left: 1px solid #96a9c4;
  padding-left: 24px;
}

.experience .items .exp-title {
  font-size: 24px;
  line-height: 36px;
}

.experience .items .exp-img {
  width: 90px;
  margin: 8px 0;
}

.experience .items .exp-detail {
  font-size: 20px;
  line-height: 30px;
  width: 642px;
}

.inner-footer {
  text-align: center;
}

.inner-footer a {
  color: #fff;
  text-decoration: none;
}

.inner-footer a:hover {
  text-decoration: underline;
}

.inner-footer .items .item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inner-footer .items .item ul li:not(:last-child) {
  margin-right: 24px;
}
/*# sourceMappingURL=all.css.map */